{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Backlog item</h2>

    <p class="govuk-body">Imagine there's some text here on a page.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Comments</h2>

    <script src="https://giscus.app/client.js"
    data-repo="stevenjmesser/design-system-discussion-poc"
    data-repo-id="R_kgDOKlRGGg"
    data-category="Backlog"
    data-category-id="DIC_kwDOKlRGGs4Cac5U"
    data-mapping="specific"
    data-term="Backlog item 1"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>

  </div>
</div>

{% endblock %}
